.active-link {
    color: black;
    background-color: rgb(205, 232, 255);
    padding: 10px;
    text-align: center;
    transition: 0.5s;
}

.inactive-link {
    color: black;
    padding: 10px;
    text-align: center;
    /* font-weight: 700; */
}

